.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .slider {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      height: 200px;
      position: relative;
    }
  }
  .right {
    border: 0;
    background-color: white;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .buttons {
    border: 0;
    background-color: white;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.visible {
  display: block;
}
